
{{#each movies as |movie|}}
  <!-- {{log movie}} -->

<div style="width: 33%;>
<div class = "card" style="width: 33%; border: 1px solid;">
<div class="card-body">
<section data-id="{{movie._id}}">


<body class="only" translate="no" class="vsc-initialized">
<div class="scrolling-box">
<section>
<img src="try.jpg" class="card-img-top" alt="dog">
    <h6>Movie Id</h6>
    <p>{{movie._id}}</p>
    <h6>Title:</h6>
    <h3>
      {{movie.title}}
    </h3>
    <h6>Director id:</h6>
    <p>
      {{#if movie.director._id}}
        {{movie.director._id}}
      {{else}}
        No director provided.
      {{/if}}
    </p>
    <h6>Director Name:</h6>
    <h3>
      {{movie.director.firstName}} {{movie.director.lastName}}
    </h3>
    <h6>Created at:</h6>
    <p>
      {{movie.director.createdAt}}
    </p>
    <h6>Updated at</h6>
    <p>{{movie.director.updatedAt}}</p>
   <p>~~~~~~~~~~~~~~</p>
    <!-- <h6>Comments</h6> -->
    {{#each comments as |comment|}}
    <section data-id="{{comment._id}}">
    <h6>Comment id:</h6>
    <p>{{comment._id }}</p>
    <h6>Comment title:</h6>
    <p>{{comment.title}}</p>
    <h6>Comment body:</h6>
    <p>{{comment.body}}</p>
    <h6>Commenter id:</h6>
    <p>{{comment.commenter._id}}</p>
    <h6>Commenter Name:</h6>
    <p>{{comment.commenter.firstName}} {{comment.commenter.lastName}}</p>
    <h6>Created at:</h6>
    <p>
      {{comment.createdAt}}
    </p>
    <h6>Updated at:</h6>
    <p>{{comment.updatedAt}}</p>
    <button data-id="{{comment._id}}" class='removebtnco  btn btn-danger'>Delete Comment</button>
   <p>---------------</p>

</section>
{{/each}}

    <button data-id="{{movie._id}}" class='removebtn  btn btn-danger'>Delete Movie</button>
    <!-- {{> partial}} -->

  </section>
  </div>
</body>

  </section>
</div>
</div>
</div>
{{/each}}
