<p>**************************</p>
 <h6>Movie Id</h6>
 <p>
   {{#if movie._id}}
   {{movie._id}}
   {{else}}
      {{movie.id}}
   {{/if}}
 </p>
 <h6>Title:</h6>
 <h3>
   {{movie.title}}
 </h3>
 <h6>Director id:</h6>
 <p>
     {{movie.director}}
 </p>
